<style>
  .card-header {
    background-color: #fff;
  }
</style>

<div class="container">
  <div class="row m-t-50">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab"
          aria-controls="home">Personal Information</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
          aria-controls="profile">Security</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

          <div class="card">
            <div class="card-header">
              <h4 class="head">Personal Information</h4>
            </div>
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                <%= render 'shared/error_message', object: f.object %>

                  <div class="form-group">
                    <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :f %>
                      <%= f.text_field :fn, class: 'form-control', disabled: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :lname %>
                      <%= f.text_field :lname, class: 'form-control' %>
                  </div>



                  <div class="dropdown-divider"></div>

                  <div class="form-group">
                    <%= f.label :lname %>
                      <%= f.text_area :lname, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :lname %>
                      <%= f.text_area :lname, class: 'form-control' %>
                  </div>



                  <h4 class="head">Change Password</h4>

                  <div class="form-group">
                    <%= f.label :password %>
                      <small>(leave blank if you don't want to change it)</small>
                      <%= f.password_field :password, class: 'form-control' %>
                        <% if @minimum_password_length %>
                          <small>
                            <%= @minimum_password_length %> characters minimum</small>
                          <% end %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, class:'form-control' %>
                  </div>


                  <div class="form-group">
                    <%= f.label :current_password %>
                      <small>(we need your current password to confirm your changes)</small>
                      <%= f.password_field :current_password, class:'form-control', required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Update Profile", class: 'btn btn-primary' %>

                      <a href="<%= user_path(current_user) %>" class="btn btn-success">Cancel</a>
                  </div>
                  <% end %>

            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="content">
                <h5 class="card-content" style="font-weight: bold; font-size: 30px; color: #195bad; margin-left: -10px;">
                  127.0.0.1
                </h5>
                <p style="font-weight: bold; margin-top: -10px;">Current Login IP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>