<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Maplerad">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Placement - Forgot Password</title>
	  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="my-login-page">
<style>
  body {
    background-color: #021e3d !important;
  }
</style>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
            <%= image_tag 'logo.jpg' %>
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title text-center">Forgot Password</h4>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
								<div class="form-group">
									<label for="email">Email</label>
									<input id="email" type="email" class="form-control" name="user[email]" value="" required autofocus>
									<div class="form-text text-muted">
										By clicking "Reset Password" we will send a password reset link
									</div>
								</div>

								<div class="form-group no-margin">
                  <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block' %>
								</div>
							<% end %>
						</div>
            <%= render "devise/shared/links" %>
					</div>
					<div class="footer">
						Copyright &copy; 2018 &mdash; Maplerad 
					</div>
				</div>
			</div>
		</div>
	</section>
  <%= javascript_include_tag 'devise', 'data-turbolinks-track': 'reload' %>
</body>
</html>