<div class="sidebar">
  <div class="logo">
    <a href="<%= user_path() %>" class="simple-text text-white">
      <%= current_user.fn %>
        <%= current_user.lname %>
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="<%= user_path(current_user) %>">
          <i class="material-icons">home</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="<%= edit_user_registration_path %>">
          <i class="material-icons">person</i>
          <p>View Your Profile</p>
        </a>
      </li>

      <% if current_user.admin? %>
        <li>
          <a href="<%= root_path %>">
            <i class="material-icons">content_paste</i>
            <p>Add Lessons</p>
          </a>
        </li>
        <% end %>

          <li>
            <a href="<%= root_path %>">
              <i class="material-icons">content_paste</i>
              <p>View Lessons</p>
            </a>
          </li>
          <li>
            <a href="<%= root_path %>">
              <i class="material-icons">library_books</i>
              <p>Take Tests</p>
            </a>
          </li>
          <li>
            <a href="<%= users_security_path %>">
              <i class="material-icons text-gray">security</i>
              <p>Security</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">
              <i class="material-icons">unarchive</i>
              <p>Sign out</p>
            </a>
          </li>
    </ul>
  </div>
</div>