<div class="wrapper">

  <%= render "shared/sidebar" %>

  <div class="main-panel">
    <%= render "shared/employer_nav" %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3>Intermediate Lessons</h3>
            <hr>
          </div>
          <%= render "shared/alert" %>
          <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
          <% if @intermediate.length > 0 %>
            <% @intermediate.each do |lesson|  %>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-header card-chart" data-background-color="green">
                    <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-content">
                    <h4 class="title">
                      <%= lesson.title %>
                    </h4>
                    <p class="category">
                      <%= lesson.description %>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <%= link_to "View", lesson_path(lesson) %>
                    </div>
                    <div class="pull-right">
                      <% if current_user.admin? %>
                        <%= link_to 'Delete', lesson_path(lesson), class: 'nav-link',method: :delete, data: { confirm: "Are you sure you want to delete this lesson ?" } %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h2 style="color: red">
              NO LESSON FOUND
            </h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>