<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="author" content="Maplerad">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Placement - Login</title>
		<%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>

	<body class="my-login-page">

		<style>
			body {
				background-color: #021e3d !important;
			}
		</style>

		<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-md-center h-100">
					<div class="card-wrapper">
						<div class="brand">
							<%#= image_tag 'logo.jpg' %>
						</div>
						<div class="card fat">
							<div class="card-body">
								<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

									<h4 class="card-title text-center">Login</h4>

									<%= render  "shared/alert" %>
										<div class="form-group">
											<label for="email">Email</label>
											<%= f.email_field :email, autofocus: true, class: 'form-control', required: true %>
										</div>

										<div class="form-group">
											<label for="password">Password
												<%= link_to "Forgot Password?", new_password_path(resource_name), class: 'float-right' %>
											</label>
											<input id="password" type="password" class="form-control" name="employer[password]" required data-eye>
										</div>

										<div class="form-group">
											<label>
												<input name="employer[remember_me]" type="hidden" value="0">
												<input type="checkbox" value="1" name="employer[remember_me]"> Remember Me
											</label>
										</div>

										<div class="form-group no-margin">
											<%= f.submit "Login", class: 'btn btn-primary btn-block' %>
										</div>
										<div class="margin-top20 text-center">
											Don't have an account?
											<%= link_to "Create One", new_registration_path(resource_name) %>
										</div>
										<% end %>
							</div>
						</div>
						<div class="footer">
							Copyright &copy; 2018 &mdash; Maplerad
						</div>
					</div>
				</div>
			</div>
		</section>

		<%= javascript_include_tag 'devise', 'data-turbolinks-track': 'reload' %>
	</body>

</html>